---
layout: default
---
<div class="group">
	<article>
		<img src= {{ page.picture }} width=565>
		<h1> {{ page.title }} </h1>
		{{ page.content }}
	</article>

	<aside class="sidebar">
		<div class="box" id="box1">
			<img src= {{ '/images/'| append: page.1site | append: '.jpg' }} width=225>
			<h1> {{ page.1site }} </h1>
			
		</div>

		<div class="box" id="box2">
			<img src= {{ '/images/'| append: page.2site | append: '.jpg' }} width=225>
			<h1> {{ page.2site }} </h1>
		
		</div>
	</aside>
</div>